<h1>New project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :logo_file_name %><br />
    <%= f.text_field :logo_file_name %>
  </p>
  <p>
    <%= f.label :logo_content_type %><br />
    <%= f.text_field :logo_content_type %>
  </p>
  <p>
    <%= f.label :logo_file_size %><br />
    <%= f.text_field :logo_file_size %>
  </p>
   <p>
    <%= f.label :processed %><br />
    <%= f.text_field :processed %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
